.step1-container{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.checked{
	background-color: #FFCCCC;
	color: white;
}

.number-photo-option{
	margin: 10px;
	cursor: pointer;

}

.w-100{
	width: 100%;
}

.image-background-demo{
	border: 5px solid #555;
	width: 100px;
	height: 100px;
	margin: 10px;
}
.image-background-demo-selected{
	border: 5px solid #FFCCCC;
	width: 100px;
	height: 100px;
	margin: 10px;
}
