@media print {
    #image {
      height: 1500px;
      width: auto;
    }
}

.loading__mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
  z-index: 10;
}

.loading__inner{
  position: absolute;
  /* width: 100%; */
  top: 35%;
  left: 45%;
  z-index: 9999;
}

#handlePrint{
  background-image: url("../images/screens/step6/background.png");
  background-size: cover;
	background-repeat: no-repeat;
  height: 100vh;
}

.button-print{
  background-image: url("../images/screens/step6/print.png");
  background-size: cover;
	background-repeat: no-repeat;
  height: 100vh;
  height: 201px;
  width: 223px;
}

.align-position{
  position: absolute;
  top: 45%;
  left: 45%;
}

.detail-progress{
  position: absolute;
  top: 55%;
  right: 40%;
}

.position-progress{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 500px;
  margin-left: -150px;
}