.step1-container{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.number-photo-option{
	margin: 10px;
	cursor: pointer;
	width: 70px;
}

.w-100{
	width: 100%;
}

.image-background-demo{
	border: 5px solid #555;
	width: 100px;
	height: 100px;
	margin: 10px;
}
.image-background-demo-selected{
	border: 5px solid #FFCCCC;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 10px;
}
.image-show{
	width: 200px;
	height: 600px;
	object-fit: fill;
}

.box{
	/* background: red; */
	width: 630px;
	height: 630px;
	border-radius: 145px;
	outline: 10px solid pink;
}

.first{
	margin-top: 330px;
	margin-left: 260px;
}

.second{
	margin-top: 330px;
	margin-left: 170px;
}

.selected{
	outline: 10px solid red; 
}

.navigation-container{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
}