.image-filter-Amaro{
    background-image: url('../images/screens/step5/amaro.png');
    background-size: cover;
}

.image-filter-Amaro-select{
    background-image: url('../images/screens/step5/amaro_select.png');
    background-size: cover;
}

.image-filter-Lark{
    background-image: url('../images/screens/step5/lark.png');
    background-size: cover;
}

.image-filter-Lark-select{
    background-image: url('../images/screens/step5/lark_select.png');
    background-size: cover;
}

.image-filter-Lo-Fi{
    background-image: url('../images/screens/step5/lofi.png');
    background-size: cover;
}

.image-filter-Lo-Fi-select{
    background-image: url('../images/screens/step5/lofi_select.png');
    background-size: cover;
}

.image-filter-Moon{
    background-image: url('../images/screens/step5/moon.png');
    background-size: cover;
}

.image-filter-Moon-select{
    background-image: url('../images/screens/step5/moon_select.png');
    background-size: cover;
}

.image-filter-Origin{
    background-image: url('../images/screens/step5/origin.png');
    background-size: cover;
}

.image-filter-Origin-select{
    background-image: url('../images/screens/step5/origin_select.png');
    background-size: cover;
}


.image-filter-Rise{
    background-image: url('../images/screens/step5/rise.png');
    background-size: cover;
}

.image-filter-Rise-select{
    background-image: url('../images/screens/step5/rise_select.png');
    background-size: cover;
}

.image-filter-Slumber{
    background-image: url('../images/screens/step5/slumber.png');
    background-size: cover;
}

.image-filter-Slumber-select{
    background-image: url('../images/screens/step5/slumber_select.png');
    background-size: cover;
}

.image-filter-Willow{
    background-image: url('../images/screens/step5/willow.png');
    background-size: cover;
}

.image-filter-Willow-select{
    background-image: url('../images/screens/step5/willow_select.png');
    background-size: cover;
}

.first-col-filter{
    position: absolute;
    right: 25%;
    top: 25%;
}

.second-col-filter{
    position: absolute;
    right: 15%;
    top: 25%;
}

.image-demo{
    position: absolute;
    top: 27%;
    left: 47%;
}

.image-show-demo {
    object-fit: cover;
    object-position: 0;
    width: 190px;
    height: 570px;
}

#select-filter{
    background-image: url("../images/screens/step5/background.png");
    background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
}

.filter-selection{
    height: 145px;
    width: 223px;
}