body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Cute', sans-serif; */
  font-size: larger;
  font-weight: 700;
}

.multi-step{
  height: 100%;
}

.footer-buttons{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.w-75{
  width: 75%;
}

.mt-100{
  margin-top: 100px;
}

.mt-50{
  margin-top: 50px;
}

.red{
  color:red;
}
.App{
  background-color: #d3d3d3;
}

.checked{
	background-color: #c96565;
	color: white;
	border-radius: 10px;
	font-weight: 700;
  border: 2px solid #c96565;
}

.video-container{
  height: 600px;
  width: 600px;
}

.video{
  height: 400px;
  width: 600px;
  border: 1px solid black;
}

.image-taken{
  width: 300px;
  height: 200px;
}

.m-5{
  margin: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer{
  cursor: pointer;
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

/* CSS */
.button-4 {
  height: 30px;
  width: 150px;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  color: rgb(59, 95, 45);
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.yellow{
  background-color: #fff000;
}

.image-filter-demo{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.fullscreen{
  width: 100vh;
  height: 100vh;
}

.saver-container{
  /* display: grid; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.screensaver{
  max-width: 100%;
  max-height: 100vw;
  margin: auto;
  object-fit: fill;
}

#handlePrint{
  background-image: url('./images/button/print.jpg');
  height: 100vh;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit:contain;
} 

#video{
  height: 80%;
}

#selectBackground{
  background-image: url('./images/button/selectBackground.jpg');
  height: 100vh;
}

#take-photo{
  background-image: url('./images/button/takephoto.jpg');
  height: 90vh;
}